# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_BOT_USERNAME=your_bot_username   # without @ prefix
MINIAPP_URL=https://your-domain.com


# MongoDB
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/vcbot

# Redis
REDIS_URL=redis://redis:6379

# TURN Server (Metered.ca)
TURN_URL=turn:global.relay.metered.ca:80
TURN_USERNAME=your_turn_username
TURN_PASSWORD=your_turn_password

# App
BACKEND_URL=https://your-domain.com
ENVIRONMENT=production
SECRET_KEY=random_secret_for_jwt
TELEGRAM_API_PROXY= # OPTIONAL: Cloudflare worker URL if Telegram API is blocked (e.g., https://proxy.worker.dev)

# Support
SUPPORT_CHANNEL=supportchannelusername   # without @ prefix
